html body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@keyframes ani {
    from {
        opacity: 0;
        transform: translate3d(0,20%,0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.ani {
    opacity: 0;
}

.ani.ed {
    opacity: 1;
    transform: none;
    animation: ani 1.5s forwards linear;
}

h1:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: rgb(0, 132, 255);
    left: 0px;
    bottom: 0px;
}

h3::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: rgb(108, 201, 255);
    left: 0px;
    bottom: 0px;
}

div h1 {
    font-weight: bold !important;
    margin-top: 5%;
}

div h3 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5%;
}

/* ----------------------------- */
.con-all {
    align-items: stretch;
    transition: 1s;
}

.all {
    padding: 0px !important;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: rgb(30, 30, 30);
    color: white;
    transition: 1s;
    position: fixed;
    z-index: 100;
}

.active {
    margin-left: -150px;
    transition: 1s;
}

.active .navicon {
    transition: 0.4s;
}

.active .tab {
    margin-top: -50px;
}

.active a {
    padding: 0px !important;
}

.active .nav_logo {
    margin-top: 20px;
    width: 40px !important;
    transition: 0.3s;
}

.active .li_logo h2 {
    opacity: 0;
}

.active .BG {
    margin-left: -10%;
    transition: 1s;
}

.active .quote {
    width: 58%;
    transition: 1s;
}

.sidebar h2 {
    padding: 0px;
    text-align: left;
    font-size: 30px;
    display: block;
    margin-top: 13%;
    color: white;
}

.sidebar h2:hover {
    color: rgb(80, 214, 255);
    transition: 0.3s;
}

.sidebar a .navicon {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar a {
    font-size: 20px;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.tab a {
    width: 80%;
    padding: 15px 10px;
}

.li_logo {
    margin: 0px;
    padding: 0px !important;
}

.nav_logo {
    margin: 0px;
    padding: 0px;
    display: block;
    width: 65px;
    margin-top: 5%;
    margin-left: 20%;
}

.sidebar a:hover {
    color: rgb(255, 255, 255);
}

.sidebar a:hover .navicon {
    color: rgb(80, 214, 255);
}

.collapse-btn {
    position: relative;
    top: 1%;
    font-size: 30px;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    border: none;
    text-align: right;
}

.collapse-btn :hover {
    transition: 0.3s;
    color: rgb(80, 214, 255);
}

.sublist {
    display: block;
    border: 1px solid rgb(255, 255, 255);
}

.tab {
    margin-left: 60px;
    margin-top: 20px !important;
}

.tab ul li a {
    font-size: 16px !important;
    margin-left: 30px;
    padding: 3%;
}

/* ---------------------------------------------- */

.banner {
    transition: 1s;
    box-sizing: border-box;
    z-index: 90;
    padding: 0px;
}

.BG {
    width: 100%;
    min-height: calc(100vh - 92px);
}

.BG img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 1%;
}

.bgi {
    backdrop-filter: blur(10px);
}

.quote {
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    display: block;
    width: 50%;
    height: 100vh;
}

.quote p {
    line-height: 100%;
}

.up {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(../img/h1.jpg);
    background-size: 200% auto;
    background-repeat: no-repeat;
    background-position: 20% 5%;
}

.quote .up {
    padding: 0px;
    align-content: flex-end;
    font-weight: bold;
    color: aliceblue;
    text-align: right;
    flex-wrap: nowrap;
}

.quote .down {
    color: rgb(204, 204, 204);
    text-align: left;
}

.qp {
    margin: 0px;
    width: 200%;
    height: 50vh;
    text-align: center;
}

/* ---------------------------------------------- */

#About {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.bgi {
    padding: 0px !important;
}

.bg_color {
    background: -webkit-radial-gradient(circle,white,white,white,rgba(255, 255, 255, 0));
    background: -o-radial-gradient(circle,white,rgba(255, 255, 255, 0));
    background: -moz-radial-gradient(circle,white,white,rgba(255, 255, 255, 0));
    background: radial-gradient(circle,white,white,white,rgba(255, 255, 255, 0));
    position: relative;
    isolation: isolate;
    z-index: 1;
}

.personal {
    display: flex;
    margin: 0px !important;
    align-items: center;
    z-index: 10;
    margin-top: 50px !important;
}

.img_m {
    text-align: right;
}

.m {
    box-shadow: 15px 15px 0px #4747477a;
}

.introduce {
    padding: 3%;
    font-weight: bold;
    line-height: 20px;
}

.About_R {
    margin-top: 50px !important;
    margin-bottom: 5%;
}

.About_R p {
    display: block;
    font-size: 18px;
    width: 80%;
    line-height: 40px;
}

/* ---------------------------------------------- */

.soft_bg {
    background-color: rgb(56, 56, 56);
    backdrop-filter: blur(5px);
    display: block;
    padding: 0px;
}

.soft_list {
    margin-bottom: 5%;
}

.soft_stitle {
    font-size: 20px;
    color: white;
    margin: 0px;
    margin-top: 10%;
}

.soft_list img {
    width: 70%;
}

.soft_list_all {
    height: 70%;
    display: flex;
}

.list_img {
    align-content: space-around;
}

.list_lll {
    align-content: space-around;

}

.schedule {
    width: 100%;
    height: 10px;
    background-color: rgba(240, 248, 255, 0.808);
}

.list_p {
    margin: 0px;
    font-size: 15px;
    color: white;
    margin-top: -5%;
    text-align: right;
}

.list_lll .list_--- {
    height: 10px;
    background-color: rgb(74, 189, 255);
    transition: 0.9s;
}

.list_--- {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-progress-bar-bg);
    transition: var(--bs-progress-bar-transition);
}

/* ---------------------------------------------- */

#exp {
    background-image: url(../img/bg_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.exp_con {
    width: 100%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.849);
    box-shadow: 10px 10px 20px rgba(65, 65, 65, 0.788);
    margin-top: 10% !important;
    margin-bottom: 10%;
    margin-left: -10% !important;
}

.exp_con h1 {
    margin-top: 5%;
    margin-left: 5%;
}

.exp_con ul {
    margin-left: 5%;
    margin-bottom: 0px;
}

.exp_con ul li {
    margin: 5%;
}

.practice ul li {
    font-weight: bold;
}

.practice p {
    line-height: 40px;
    padding: 5%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

/* ---------------------------------------------- */

.work_bg {
    background-color: rgb(56, 56, 56);
}
/* ---------------------------------------------- */

.mp_all {
    margin-top: 30px !important;
    margin-bottom: 5%;
}

.mp_all p {
    margin-top: 30px;
    text-indent: 2em;
    line-height: 40px;
}

.mp_p_up {
    width: 90% !important;
}

.mp_title h5 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
}

/* ---------------------------------------------- */

#clip {
    background-image: url(../img/bg_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cp_bg {
    background-color: rgba(51, 51, 51, 0.767);
    backdrop-filter: blur(5px);
    display: block;
    padding: 0px;
}

.cp_vid {
    display: flex;
    justify-content: center;
}

.cp_vid video {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 10px 10px 20px #000000c9;
}

.cp_p {
    display: flow-root;
    align-content: center;
    color: white;
    line-height: 40px;
}

.cp_p h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5%;
}

.cp_vid_dow video {
    width: 80%;
    margin: 10%;
    margin-left: 15%;
    box-shadow: 10px 10px 20px #000000c9;
}

/* ---------------------------------------------- */

.Certificate {
    width: 70%;
    border: 1px solid #4747477a;
    padding: 1%;
    margin: 10%;
    margin-top: 10% !important;
    margin-left: 15%;
    background-color: aliceblue;
    border-radius: 40px / 40px;
    box-shadow: 10px 10px 20px #4747477a;
    animation-duration: 3s;
    animation-name: ani;
}

.Certificate_dow video {
    width: 90%;
    margin: 5%;
}

.Certificate video {
    width: 90%;
    margin: 5%;
}

.e_p {
    text-align: left;
    margin: 5%;
}

.e_p h5 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5%;
}

.cc_dow {
    margin-bottom: 20% !important;
}

/* ---------------------------------------------- */

.ani_bg {
    background-image: url(../img/bg_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.ani_bg_2 {
    background-color: rgba(99, 99, 99, 0.445);
    backdrop-filter: blur(5px);
}

.ani_color {
    width: 85% !important;
    background-color: rgba(255, 255, 255, 0.849);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.788);
    margin-top: 5% !important;
    margin-bottom: 5%;
}

.ani_ST h5 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5%;
}

.ani_ST {
    margin: 5%;
    margin-top: 5% !important;
}

.ani_vid {
    margin: 3%;
    margin-top: 5% !important;
}
/* ---------------------------------------------- */

.l2D_li {
    margin-top: 5% !important;
}

.l2D_vid {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.l2D_vid_dow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#Live2D h5 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 1%;
}

#Live2D p {
    margin: 0px;
}

.l2D_p_bg {
    width: 100%;
    background-color: rgba(234, 252, 255, 0.438);
    box-shadow: 10px 10px 20px rgba(122, 122, 122, 0.788);
    margin-top: 5% !important;
}

.l2D_- {
    margin-top: 5% !important;
}
/* ---------------------------------------------- */
.footer {
    width: 100%;
    height: 50vh;
    background-image: url(../img/bg_5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer_color {
    width: 100%;
    background: -webkit-linear-gradient(white,rgba(255, 255, 255, 0.719),rgba(255, 255, 255, 0));
    background: -o-linear-gradient(white,rgba(255, 255, 255, 0.719),rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(white,rgba(255, 255, 255, 0.719),rgba(255, 255, 255, 0));
    background: linear-gradient(white,rgba(255, 255, 255, 0.719),rgba(255, 255, 255, 0));

}
/* ---------------------------------------------- */

#Loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #151515;
  }
  
  #Loading:before {
    content: "";
    position: fixed;
    top: calc(50% - 0px);
    left: calc(50% - 30px);
    border: 6px solid #86edff;
    border-top-color: #151515;
    border-bottom-color: #151515;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-Loading 1s linear infinite;
    animation: animate-Loading 1s linear infinite;
  }
  
  @-webkit-keyframes animate-Loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-Loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  